body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-break: break-all;
}

body {
    background-color: #fff;
}

header {
width: 100%;
display: inline-block;
position: absolute;
left: 5%;
top: 5%;
}

header > .smoothies {
    display: inline-block;
    color: #FF777B;
}

 nav {
    position: absolute;
    top: 10%;
    right: 20%;
}

nav > a {
    padding: 5px 15px;
    text-decoration: none;
    color: black;
}
.icons {
    text-align: center;
    position: absolute;
    top: 10%;
    right: 10%;
    padding: 1px 10px;
}

.icons > i {
    padding: 1px 15px;
}
.container {
    width: 100%;
    display: inline-block;
    position: absolute;
    left: 5%;
    top: 15%;
    background-color: #fff;
}

.left-column {
    width: 50%;
    display: inline-block;
    float: left;

}


.images > .big-circle {
    margin-top: 10%;
}

.images > .cup {
    position: absolute;
    left:8%;
    top:10%;
}

.image-complex {
    position: relative;
}

.icons2 > .fa {
padding: 12px 20px;
background-color: #FF5E61;
border-radius: 360px;
color: white;
font-size: 25px;
}

.icons2 > .fa:first-of-type {
position: absolute;
bottom: 40%;
left: -2.5%;
}

.icons2 > .fa:last-of-type {
    position: absolute;
    bottom: 40%;
    right: 38%;
    }

.right-column {
    width: 50%;
    display: inline-block;
    float: right;
    margin-top: 10%; 
}

.lefty-column > ul {

}